<div class="card">
    <h4 class="card-header" style="background-color: #413089; color: white;">Login - Acoqueer</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Nome de Usuário:</label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Nome de Usuário não pode estar vazio!</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Senha:</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Senha não pode estar vazia!</div>
                </div>
            </div>
            <div>
                <button [disabled]="loading" class="btn btn-primary" style="background-color: #413089">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Login
                </button>
                <a routerLink="../register" class="btn btn-link">Cadastrar</a>
            </div>
        </form>
    </div>
</div>